<section id="about" class="about">
	<div class="about__container container">
		<h2 class="about__title title title--section">
			about us
		</h2>
		<p class="p-reset about__text">
			The occupational traffic permit is one of the most important things in the company when carrying out freight
			transport.
			In fact, it is a prerequisite for doing business traffic at all.
		</p>
		<p class="p-reset about__question">
			How do you do when you need to obtain
			a commercial traffic permit for freight transport to your business?
		</p>
	</div>
</section>