<section id="howto" class="apply">
	<div class="apply__container container">
		<div class="apply__inner">
			<h2 class="apply__title title title--section">
				how to apply
			</h2>
			<p class="p-reset apply__text">
				When applying for a traffic permit, there are certain requirements that you must meet that are included in the
				examination: requirements for professional knowledge, solid establishment, good reputation and financial
				resources.
				Important to remember is to confirm your application for a traffic permit by the company's company signer or
				CEO.
			</p>
		</div>
	</div>
</section>