<section id="contacts" class="contacts">
	<div class="contacts__container container">
		<div class="contacts__top">
			<h2 class="contacts__title is-hidden">Contacts</h2>
			<div class="contacts__info">
				<p class="contacts__text">
					We provide traffic management consultants so you get started quickly, contact us for a quote today!
				</p>
			</div>
			<form class="contacts__form">
				<div class="contacts__name">
					<label for="contacts__label">Name</label>
					<input required class="contacts__input input input--contacts" type="text" placeholder="Your name"
						id="contacts__name">
				</div>
				<div class="contacts__mail">
					<label for="contacts__label">Email address</label>
					<input required class="contacts__input input input--contacts" type="email" placeholder="Your email address"
						id="contacts__name">

				</div>
				<button class="contacts__btn btn btn--main">get started</button>
			</form>
		</div>

		<div class="contacts__bottom">
			<a class="contacts__logo" href="#">
				<img class="contacts__logo-img" src="img/logo.svg" alt="Logo">
			</a>

			<ul class="contacts__menu list-reset">
				<li class="contacts__item">
					<a class="contacts__link" href="#about">about</a>
				</li>
				<li class="contacts__item">
					<a class="contacts__link" href="#howto">how to</a>
				</li>
				<li class="contacts__item">
					<a class="contacts__link" href="#faqs">faqs</a>
				</li>
			</ul>
		</div>

	</div>
</section>