<section id="faqs" class="faq">
	<div class="faq__container container">
		<h3 class="faq__title title title--section">faq</h3>
		<h2 class="faq__big-title title title--big-section">
			Questions and Answers on Professional Traffic Permits:
		</h2>





		<ul class="faq__accordion accordion v1 list-reset">
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>
			<li class="accordion__item">
				<button class="accordion__btn btn btn--accordion">What is a professional traffic permit? <span
						class="accordion__btn-status" </span></button>
				<div class="accordion__info">
					<p class="accordion__text p-reset">Traffic permits are a requirement for conducting professional traffic.
					</p>
				</div>
			</li>


		</ul>

		<button id="okButton" class="faq__more-btn btn btn--more">LOAD MORE</button>
	</div>
</section>