<section class="feedback">
	<div class="feedback__container container">

		<div class="feedback__top">
			<h3 class="feedback__title title title--section">ABOUT US</h3>
			<div class="feedback__swiper-btns">
				<button class="feedback__swiper-btn-prev btn btn--swiper-prev"></button>
				<button class="feedback__swiper-btn-next btn btn--swiper-next"></button>

			</div>
		</div>
		<h2 class="feedback__big-title title title--big-section">
			Out Awesome
			Clients
		</h2>

	</div>
	<div class="feedback__swiper swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<p class="feedback__text p-reset">
					Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the
					permit as the
					Applicant or Agent for the Permittee.</p>
				<div class="feedback__info">
					<img class="feedback__info-img" src="img/profile-1.jpg" alt="profile-1">
					<strong class="feedback__info-name">Isak Pettersson</strong>
				</div>
			</div>
			<div class="swiper-slide">
				<p class="feedback__text p-reset">
					Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the
					permit as the
					Applicant or Agent for the Permittee.</p>
				<div class="feedback__info">
					<img class="feedback__info-img" src="img/profile-1.jpg" alt="profile-1">
					<strong class="feedback__info-name">Isak Pettersson</strong>
				</div>
			</div>
			<div class="swiper-slide">
				<p class="feedback__text p-reset">
					Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the
					permit as the
					Applicant or Agent for the Permittee.</p>
				<div class="feedback__info">
					<img class="feedback__info-img" src="img/profile-1.jpg" alt="profile-1">
					<strong class="feedback__info-name">Isak Pettersson</strong>
				</div>
			</div>
			<div class="swiper-slide">
				<p class="feedback__text p-reset">
					Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the
					permit as the
					Applicant or Agent for the Permittee.</p>
				<div class="feedback__info">
					<img class="feedback__info-img" src="img/profile-1.jpg" alt="profile-1">
					<strong class="feedback__info-name">Isak Pettersson</strong>
				</div>
			</div>
			<div class="swiper-slide">
				<p class="feedback__text p-reset">
					Yes, you will need to have the land owner sign the permit application as the Permittee, and you sign the
					permit as the
					Applicant or Agent for the Permittee.</p>
				<div class="feedback__info">
					<img class="feedback__info-img" src="img/profile-1.jpg" alt="profile-1">
					<strong class="feedback__info-name">Isak Pettersson</strong>
				</div>
			</div>
		</div>

	</div>

</section>