<header class="header">
  <div class="header__container container">
    <a class="header__logo" href="#">
      <img class="header__logo-img" src="img/logo.svg" alt="Logo">
    </a>
    <button class="header__burger burger btn">
      <span></span>

    </button>
    <nav class="nav header__nav">
      <ul class="nav__list list-reset">
        <li class="nav__item">
          <a class="nav__link" href="#about">ABOUT</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#howto">HOW TO</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#faqs">FAQS</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#contacts">CONTACT US</a>
        </li>
      </ul>
    </nav>

  </div>
</header>